{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
Edital
{% endblock %}

{% block pagina %}
    <div class="container">
        <h2>
            Incrição Concluida
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, molestiae dolor possimus quibusdam dolore consequuntur beatae cupiditate et recusandae totam commodi odit, iste, placeat sequi aut optio! Iusto, illo atque.
        </p>
    </div>
{% endblock %}