{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
Inscrição
{% endblock %}

{% block pagina %}

<div class="container">
    <div class="col-12 mt-3">
        <h3>Dados Artísticos</h3>
        <hr>
    </div>
    <section class="row">
        <div class="col-sm-12 col-md-3 mb-3">
            <label for="{{ form.modalidade.id_for_label }}" class="form-label">{{ form.modalidade.label }}: {% if form.modalidade.field.required %}<span class="text-danger">*</span>{% endif %}</label>
            {% render_field form.modalidade class="form-select" %}
            {% for error in form.modalidade.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-9 mb-3">
            <label for="{{ form.nome_artistico.id_for_label }}" class="form-label">{{ form.nome_artistico.label }}: {% if form.nome_artistico.field.required %}<span class="text-danger">*</span>{% endif %}</label>
            {% render_field form.nome_artistico class="form-control" %}
            {% for error in form.nome_artistico.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

    </section>


<section class="row Verifica_Contato">
    <div class="col-12 mt-3">
        <h3>Contato</h3>
        <hr>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.email_1.id_for_label }}" class="form-label">{{ form.email_1.label }}: {% if form.email_1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.email_1 class="form-control" %}
        {% for error in form.email_1.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.email_2.id_for_label }}" class="form-label">{{ form.email_2.label }}: {% if form.email_2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.email_2 class="form-control" %}
        {% for error in form.email_2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-fone-1" class="form-label">{{ form.fone_1.label }}: {% if form.fone_1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-fone-1" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.fone_1 class="form-control" style="width: 60%;" %}
                {% render_field form.fone_1_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-dark" href="#" id="btn_id_fone_1" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.fone_1.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-fone-2" class="form-label">{{ form.fone_2.label }}: {% if form.fone_2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-fone-2" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.fone_2 class="form-control" style="width: 60%;" %}
                {% render_field form.fone_2_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-dark" href="#" id="btn_id_fone_2" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.fone_2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-fone-3" class="form-label">{{ form.fone_3.label }}: {% if form.fone_3.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-fone-3" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.fone_3 class="form-control" style="width: 60%;" %}
                {% render_field form.fone_3_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-dark" href="#" id="btn_id_fone_3" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.fone_3.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

</section>


<section class="row Verifica_Endereco">
    <div class="col-12 mt-3">
        <h3>Endereço</h3>
        <hr>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3">
        <label for="div-cep" class="form-label">{{ form.cep.label }}: {% if form.cep.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-cep" class="d-inline-flex w-100">
            {% render_field form.cep class="form-control" placeholder="00.000-000" data-mask="00.000-000" %}
            <button type="button" onclick="pesquisacep(id_cep.value);" class="btn btn-outline-primary ms-1" title="Buscar dados do CEP">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
            </button>
        </div>
        {% for error in form.cep.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="invalid-feedback show fs-6" id="ceplog">
            CEP invalido.
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
        <label for="{{ form.estado.id_for_label }}" class="form-label">{{ form.estado.label }}: {% if form.estado.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.estado class="form-control text-uppercase" placeholder="XX" %}
        {% for error in form.estado.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-7 mb-3">
        <label for="{{ form.cidade.id_for_label }}" class="form-label">{{ form.cidade.label }}: {% if form.cidade.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cidade class="form-control" %}
        {% for error in form.cidade.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="{{ form.bairro.id_for_label }}" class="form-label">{{ form.bairro.label }}: {% if form.bairro.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.bairro class="form-control" %}
        {% for error in form.bairro.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.endereco.id_for_label }}" class="form-label">{{ form.endereco.label }}: {% if form.endereco.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.endereco class="form-control" %}
        {% for error in form.endereco.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-2 mb-3">
        <label for="{{ form.numero.id_for_label }}" class="form-label">{{ form.numero.label }}: {% if form.numero.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.numero class="form-control" %}
        {% for error in form.numero.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.complemento.id_for_label }}" class="form-label">{{ form.complemento.label }}: {% if form.complemento.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.complemento class="form-control" %}
        {% for error in form.complemento.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
</section>


<!-- ===== BOTOES ===== -->
<section class="container g-0 mt-2">
    <button type="submit" class="btn btn-success my-1 me-1">
        <i class="bi bi-check-lg me-1"></i>Salvar
    </button>
    <button type="reset" class="btn btn-warning my-1 me-1">
        <i class="bi bi-x me-1"></i>Limpar
    </button>
    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary my-1">
        <i class="bi bi-arrow-return-left me-1"></i>Voltar
    </button>
</section>


</div>



<script src="{% static 'inscricao/js/jQuery Mask Plugin v1.14.16.js' %}"></script>
<script src="{% static 'inscricao/js/jQuery-v3.6.4.js' %}"></script>
<script src="{% static 'inscricao/js/main.js' %}"></script>


{% endblock %}