{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
Edital
{% endblock %}

{% block pagina %}
<div class="container">

        <div class="col-12 mt-3">
            <h2>Show de Talentos</h2>
            <hr>
        </div>

        <h4>Introdução:</h4>
        <p>Dando continuidade à tradição de celebrar a arte e a criatividade musical, temos o prazer de anunciar o evento anual que reúne os talentos musicais mais brilhantes de nossa comunidade. O "Show de Talentos Abascuara" é uma plataforma emocionante que visa proporcionar aos músicos locais uma oportunidade única de se apresentarem, compartilharem suas paixões musicais e conquistarem corações com suas habilidades excepcionais.</p>
    
        <h4>Data e Local:</h4>
        <p>O evento ocorrerá no dia [data], a partir das [horário de início], no coreto da Praça Padre Aurelio Basso. A atmosfera acolhedora do local criará o cenário perfeito para uma noite repleta de música extraordinária.</p>
    
        <h4>Formato do Evento:</h4>
        <p>O "Show de Talentos Abascuara" apresentará uma variedade de estilos musicais. O evento será dividido em várias categorias, incluindo solos, duetos e grupos, garantindo que cada artista tenha a oportunidade de brilhar.</p>
    
        <h4>Inscrições e Seleção:</h4>
        <p>As inscrições serão abertas a partir de [data de início das inscrições] e se encerrarão em [data de encerramento das inscrições]. O número de inscrições será limitado a 50 artistas/grupos. Músicos de todas as idades e níveis de experiência são incentivados a participar. Um painel de jurados especializados, composto por músicos renomados e profissionais da indústria, avaliará as inscrições e selecionará os artistas que subirão ao palco.</p>
    
        <h4>Prêmios:</h4>
        <p>Além da oportunidade de se apresentar diante de uma plateia apaixonada, os participantes terão a chance de competir por prêmios emocionantes, incluindo gravações de estúdio, bolsas de estudo musicais, instrumentos musicais de alta qualidade e oportunidades de atuação em eventos futuros. O prêmio principal, no entanto, será a visibilidade e o reconhecimento dentro da comunidade musical.</p>
    
        <h4>Ingressos e Público:</h4>
        <p>Os ingressos serão gratuitos, para garantir que todos possam desfrutar do espetáculo, visando atrair um público diversificado de entusiastas da música.</p>
    
        <h4>Conclusão:</h4>
        <p>O "Show de Talentos Abascuara" promete ser uma celebração inesquecível da música e do talento dentro de nossa comunidade. Convidamos todos a se juntarem a nós para uma noite de inspiração musical, performances emocionantes e a descoberta de novos e promissores talentos musicais. Mal podemos esperar para testemunhar o brilho dos artistas em nosso palco e compartilhar essa experiência musical extraordinária.</p>

</div>

{% endblock %}