<!-- Header-->
<div class="bg_cabecalho">
<header class="masthead text-center text-white ">
    
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Centenário do Sul</h1>
                <h2 class="masthead-subheading mb-0">Show de Talentos Abascuara</h2>
                <a class="btn rounded-pill mt-5" href="#scroll">Veja Mais</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
</div>



